bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea
.cache
/ScanIQ.sln.DotSettings.user
/src/ScanIQ.Api/appsettings.Development.json
/src/ScanIQ.Ui/node_modules
/src/ScanIQ.Ui/.idea
/src/ScanIQ.Ui/dist
/src/ScanIQ.Core.Zitadel/Generated
/.vs
/src/ScanIQ.Ui/src/api/client.ts
/docker/zitadel-admin-sa.json
/src/ScanIQ.Ui/.env
/.gen
