bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/eShop/.idea
/CoolNewProject/.idea
/MicrosoftAi/.idea
/MicrosoftAi/MicrosoftAi.sln.DotSettings.user
/MicrosoftAi/src/CoolNewProject.Api/appsettings.Development.json
